<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.qualification.dao.FileStoreDao">
  <resultMap id="BaseResultMap" type="com.cmcc.qualification.entity.FileStore">
    <id column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="to_id" jdbcType="VARCHAR" property="toId" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_old_name" jdbcType="VARCHAR" property="fileOldName" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="file_addr" jdbcType="VARCHAR" property="fileAddr" />
    <result column="file_size" jdbcType="VARCHAR" property="fileSize" />
    <result column="file_suffix" jdbcType="VARCHAR" property="fileSuffix" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    file_id, to_id, file_type, file_name, file_old_name, file_url, file_addr, file_size, 
    file_suffix, status, del_flag, send_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_store
    where file_id = #{fileId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from file_store
    where file_id = #{fileId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmcc.qualification.entity.FileStore">
    insert into file_store (file_id, to_id, file_type, 
      file_name, file_old_name, file_url, 
      file_addr, file_size, file_suffix, 
      status, del_flag, send_time
      )
    values (#{fileId,jdbcType=VARCHAR}, #{toId,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{fileName,jdbcType=VARCHAR}, #{fileOldName,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, 
      #{fileAddr,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR}, #{fileSuffix,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.qualification.entity.FileStore">
    insert into file_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        file_id,
      </if>
      <if test="toId != null">
        to_id,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileOldName != null">
        file_old_name,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="fileAddr != null">
        file_addr,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="fileSuffix != null">
        file_suffix,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="toId != null">
        #{toId,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileOldName != null">
        #{fileOldName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileAddr != null">
        #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null">
        #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.qualification.entity.FileStore">
    update file_store
    <set>
      <if test="toId != null">
        to_id = #{toId,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileOldName != null">
        file_old_name = #{fileOldName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileAddr != null">
        file_addr = #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null">
        file_suffix = #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where file_id = #{fileId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.qualification.entity.FileStore">
    update file_store
    set to_id = #{toId,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_old_name = #{fileOldName,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      file_addr = #{fileAddr,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=VARCHAR},
      file_suffix = #{fileSuffix,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP}
    where file_id = #{fileId,jdbcType=VARCHAR}
  </update>
  
  <insert id="insertObj" parameterType="java.util.List" >
    insert into file_store(
       file_id,
       to_id,
       file_type,
       file_url,
       status,
       send_time
      )
    values 
      <foreach collection="list" item="item" index="index" separator=",">
			(
        #{item.fileId},
        #{item.toId},
        #{item.fileType},
        #{item.fileUrl},
        #{item.status},
        #{item.sendTime}
		)
    </foreach>
  </insert>
  
  <delete id="deleteByToId" parameterType="java.lang.String">
    delete from file_store
    where to_id = #{certificateId,jdbcType=VARCHAR}
  </delete>
</mapper>