<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.qualification.dao.ProCompanyUserDao">
  <resultMap id="BaseResultMap" type="com.cmcc.qualification.entity.ProCompanyUser">
    <id column="cp_user_id" jdbcType="VARCHAR" property="cpUserId" />
    <result column="comq_id" jdbcType="VARCHAR" property="comqId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
  </resultMap>
  <sql id="Base_Column_List">
    cp_user_id, comq_id, user_id, user_name, user_tel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pro_company_user
    where cp_user_id = #{cpUserId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pro_company_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectPage" parameterType="com.cmcc.qualification.entity.ProCompanyUser" resultType="map">
    select us.*,q.comq_name from pro_company_user us 
    LEFT JOIN pro_company_qua q ON q.comq_id=us.comq_id
    <where>
    	  <if test="comqId != null">
	         and us.comq_id = #{comqId,jdbcType=VARCHAR}
	      </if>
	      <if test="userName != null">
	         and us.user_name like CONCAT('%', #{userName}, '%')
	      </if>
    </where>
  </select>
  
  <select id="selectList" parameterType="java.lang.String" resultType="map">
    select us.user_id comqId,us.user_name comqName,us.*,c.* from pro_company_user us LEFT JOIN pro_certificate c ON us.user_id=c.fkcert_id
    where comq_id = #{comqId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectUserList" resultType="map">
    select * from pro_company_user us LEFT JOIN pro_certificate c ON us.user_id=c.fkcert_id
    <where>
    	  <if test="comqId != null">
	         and us.comq_id = #{comqId,jdbcType=VARCHAR}
	      </if>
	      <if test="userId != null">
	         and us.user_id = #{userId,jdbcType=VARCHAR}
	      </if>
	      <if test="userName != null">
	         and us.user_name = #{userName,jdbcType=VARCHAR}
	      </if>
	      <if test="userTel != null">
	         and us.user_tel = #{userTel,jdbcType=VARCHAR}
	      </if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pro_company_user
    where cp_user_id = #{cpUserId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmcc.qualification.entity.ProCompanyUser">
    insert into pro_company_user (cp_user_id, comq_id, user_id, 
      user_name, user_tel)
    values (#{cpUserId,jdbcType=VARCHAR}, #{comqId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.qualification.entity.ProCompanyUser">
    insert into pro_company_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cpUserId != null">
        cp_user_id,
      </if>
      <if test="comqId != null">
        comq_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userTel != null">
        user_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cpUserId != null">
        #{cpUserId,jdbcType=VARCHAR},
      </if>
      <if test="comqId != null">
        #{comqId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.qualification.entity.ProCompanyUser">
    update pro_company_user
    <set>
      <if test="comqId != null">
        comq_id = #{comqId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
    </set>
    where cp_user_id = #{cpUserId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.qualification.entity.ProCompanyUser">
    update pro_company_user
    set comq_id = #{comqId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR}
    where cp_user_id = #{cpUserId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateData" parameterType="com.cmcc.qualification.entity.ProCompanyUser">
    update pro_company_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
    </set>
    <where> 
    <if test="comqId != null">
    	AND cp_user_id = #{cpUserId,jdbcType=VARCHAR}
    </if>
     <if test="comqId != null">
       AND comq_id = #{comqId,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=VARCHAR}
      </if>
      </where>
  </update>
  
  <delete id="deleteData" parameterType="java.lang.String">
    delete from pro_company_user
    <where>
		<if test="comqId != null">
       AND comq_id = #{comqId,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=VARCHAR}
      </if>
     </where>
  </delete>
</mapper>